In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import pandas as pd
import sqlite3
import numpy as np

In [9]:
path1 = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI 2004-2014.csv"

path2 = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI 2014-2026.csv"

path3 = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI 2000-2003.csv"

DF1 = pd.read_csv(path1)

DF2 = pd.read_csv(path2)

DF3 = pd.read_csv(path3)

DF1

            Date  Price
0     01/03/2014  93.96
1     01/02/2014  95.44
2     01/01/2014  98.70
3     12/31/2013  98.42
4     12/30/2013  99.29
...          ...    ...
2518  01/09/2004  34.31
2519  01/08/2004  33.98
2520  01/07/2004  33.62
2521  01/06/2004  33.70
2522  01/05/2004  33.78

[2523 rows x 2 columns]

In [10]:
DF1 = pd.read_csv(path1)
DF2 = pd.read_csv(path2)
DF3 = pd.read_csv(path3)

DF1['Date'] = pd.to_datetime(DF1['Date'], format='%m/%d/%Y')
DF2['Date'] = pd.to_datetime(DF2['Date'], format='%m/%d/%Y')
DF3['Date'] = pd.to_datetime(DF3['Date'], format='%m/%d/%Y')

df_all = (
    pd.concat([DF1, DF2, DF3], ignore_index=True)
      .drop_duplicates(subset=['Date'])
      .sort_values('Date', ascending=True)
      .reset_index(drop=True)
)

df_all.head(), df_all.tail()

(        Date  Price
 0 2000-01-04  25.55
 1 2000-01-05  24.91
 2 2000-01-06  24.78
 3 2000-01-07  24.22
 4 2000-01-10  24.67,
            Date  Price
 6678 2026-01-15  59.08
 6679 2026-01-16  59.34
 6680 2026-01-18  58.97
 6681 2026-01-19  59.39
 6682 2026-01-20  59.68)

In [11]:
df_all = (
    df_all
        .sort_values('Date')     # safety check
        .set_index('Date')       # Date becomes the index
)

In [12]:
save_path = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI 2000-2026.csv"

df_all.to_csv(save_path)

In [13]:

df_lag = df_all.sort_index()

# Create lag features
for lag in range(1, 11):
    df_lag[f'Price_lag{lag}'] = df_lag['Price'].shift(lag)

df_lag.head(15)

,Price,Price_lag1,Price_lag2,Price_lag3,Price_lag4,Price_lag5,Price_lag6,Price_lag7,Price_lag8,Price_lag9,Price_lag10
Date,,,,,,,,,,,
2000-01-04,25.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,24.91,25.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,24.78,24.91,25.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,24.22,24.78,24.91,25.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,24.67,24.22,24.78,24.91,25.55,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-11,25.77,24.67,24.22,24.78,24.91,25.55,NaN,NaN,NaN,NaN,NaN
2000-01-12,26.28,25.77,24.67,24.22,24.78,24.91,25.55,NaN,NaN,NaN,NaN
2000-01-13,26.69,26.28,25.77,24.67,24.22,24.78,24.91,25.55,NaN,NaN,NaN
2000-01-14,28.02,26.69,26.28,25.77,24.67,24.22,24.78,24.91,25.55,NaN,NaN
2000-01-18,28.85,28.02,26.69,26.28,25.77,24.67,24.22,24.78,24.91,25.55,NaN
2000-01-19,29.54,28.85,28.02,26.69,26.28,25.77,24.67,24.22,24.78,24.91,25.55
2000-01-20,29.66,29.54,28.85,28.02,26.69,26.28,25.77,24.67,24.22,24.78,24.91
2000-01-21,28.20,29.66,29.54,28.85,28.02,26.69,26.28,25.77,24.67,24.22,24.78
2000-01-24,27.83,28.20,29.66,29.54,28.85,28.02,26.69,26.28,25.77,24.67,24.22
2000-01-25,28.28,27.83,28.20,29.66,29.54,28.85,28.02,26.69,26.28,25.77,24.67

In [14]:
save_path = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI_10DayLag.csv"
df_lag.to_csv(save_path)

In [3]:
open_path = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI_10DayLag.csv"
df_lag = pd.read_csv(open_path, index_col=0, parse_dates=True)
df_lag

,Price,Price_lag1,Price_lag2,Price_lag3,Price_lag4,Price_lag5,Price_lag6,Price_lag7,Price_lag8,Price_lag9,Price_lag10
Date,,,,,,,,,,,
2000-01-04,25.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,24.91,25.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,24.78,24.91,25.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,24.22,24.78,24.91,25.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,24.67,24.22,24.78,24.91,25.55,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2026-01-15,59.08,61.88,60.93,59.32,59.12,57.76,55.99,56.94,58.08,57.32,57.42
2026-01-16,59.34,59.08,61.88,60.93,59.32,59.12,57.76,55.99,56.94,58.08,57.32
2026-01-18,58.97,59.34,59.08,61.88,60.93,59.32,59.12,57.76,55.99,56.94,58.08
2026-01-19,59.39,58.97,59.34,59.08,61.88,60.93,59.32,59.12,57.76,55.99,56.94
2026-01-20,59.68,59.39,58.97,59.34,59.08,61.88,60.93,59.32,59.12,57.76,55.99

In [4]:
#remove rows with missing lag variables
df_lag = df_lag.dropna()
df_lag

,Price,Price_lag1,Price_lag2,Price_lag3,Price_lag4,Price_lag5,Price_lag6,Price_lag7,Price_lag8,Price_lag9,Price_lag10
Date,,,,,,,,,,,
2000-01-19,29.54,28.85,28.02,26.69,26.28,25.77,24.67,24.22,24.78,24.91,25.55
2000-01-20,29.66,29.54,28.85,28.02,26.69,26.28,25.77,24.67,24.22,24.78,24.91
2000-01-21,28.20,29.66,29.54,28.85,28.02,26.69,26.28,25.77,24.67,24.22,24.78
2000-01-24,27.83,28.20,29.66,29.54,28.85,28.02,26.69,26.28,25.77,24.67,24.22
2000-01-25,28.28,27.83,28.20,29.66,29.54,28.85,28.02,26.69,26.28,25.77,24.67
...,...,...,...,...,...,...,...,...,...,...,...
2026-01-15,59.08,61.88,60.93,59.32,59.12,57.76,55.99,56.94,58.08,57.32,57.42
2026-01-16,59.34,59.08,61.88,60.93,59.32,59.12,57.76,55.99,56.94,58.08,57.32
2026-01-18,58.97,59.34,59.08,61.88,60.93,59.32,59.12,57.76,55.99,56.94,58.08
2026-01-19,59.39,58.97,59.34,59.08,61.88,60.93,59.32,59.12,57.76,55.99,56.94
2026-01-20,59.68,59.39,58.97,59.34,59.08,61.88,60.93,59.32,59.12,57.76,55.99

70/20/10 split for training/validation/test sets

In [5]:
n = len(df_lag)

train_end = int(n * 0.70)
val_end   = int(n * 0.90)

train_df = df_lag.iloc[:train_end]
val_df   = df_lag.iloc[train_end:val_end]
test_df  = df_lag.iloc[val_end:]

In [6]:
WTI_Lag_Train = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI_Lag_Train.csv"
WTI_Lag_Val = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI_Lag_Val.csv"
WTI_Lag_Test = "/content/drive/MyDrive/DS340W_OilFutures/Data/WTI_Lag_Test.csv"

train_df.to_csv(WTI_Lag_Train)
val_df.to_csv(WTI_Lag_Val)
test_df.to_csv(WTI_Lag_Test)